head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Pocket Testnet Faucet')
  title Cover Template &middot; Bootstrap
  link(rel='canonical' href='http://localhost:3000')
  // Bootstrap core CSS
  link(href='/public/node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  // Favicons
  meta(name='theme-color' content='#563d7c')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='/public/css/index.css' rel='stylesheet')
  style.
    html > div ~ div:last-of-type {
    display: none !important;
    }
  link(rel='stylesheet' type='text/css' href='chrome-extension://fleenceagaplaefnklabikkmocalkcpo/assets/fonts/MyFontsWebfontsKit.css')
  meta(name='lollix')
.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
  header.masthead.mb-auto
    .inner
      h3.masthead-brand Pocket Testnet Faucet
      nav.nav.nav-masthead.justify-content-center
        a.nav-link.active(href='#') Home
        a.nav-link(href='https://pokt.network' target='_blank') About Pocket Network
  main.inner.cover(role='main')
    //-   <div class="alert alert-danger" role="alert">
    //-   A simple danger alert—check it out!
    //- </div>
    if errorMsg
      div.alert.alert-danger(role="alert") #{errorMsg}
    else if txHash
      div.alert.alert-info(role="alert") #{txHash}
    h1.cover-heading Get Testnet POKT
    p.lead
      | Enter your Pocket Testnet Network Address below to receive
      | 100,000 Testnet POKT
    // TODO: Add the form action to receive the address
    form(method='POST' action='/' enctype='text/plain')
      .form-group
        label(for='address') Pocket Testnet Address
        input#address.form-control(name='address' type='text' aria-describedby='address-help')
        small#address-help.form-text.text-muted Please double check this is a Pocket Testnet address and not Mainnet.
      button.btn.btn-primary(type='submit')
        | Get Testnet POKT
  footer.mastfoot.mt-auto
    .inner
      p
        | Cover template for
        a(href='https://getbootstrap.com/') Bootstrap
        | , by
        a(href='https://twitter.com/mdo') @mdo
        | .
style.
  #lolli-detect-o {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -999em;
  top: -999em;
  }
#lolli-detect-o.ads.ad.adsbox.doubleclick.ad-placement.ad-context
